@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --cor-branco: #ffffff;
    --cor-preta: #000000;
    --cor-cinza-texto: #BCC0CA;
    --cor-azul-claro: #00AEFF;
    --cor-azul-hover: #40C2FF;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--cor-branco);
}

body {
    position: relative;
}

.cabecalho {
    /* background: url(assets/banner/banner-diablo-mobile.jpg); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    width: 100%;
    /* height: 0px; */
    position: absolute;
}

.cabecalho img {
    cursor: pointer;
}

/* .banner-imagem {
    background: url(assets/banner/banner-diablo-mobile.jpg);
    height: 100vh;
    background-repeat: no-repeat;
} */

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.logo-blizzard {
    width: 4.375rem;
    height: 2rem;
}

.nav-bar__divisao {
    position: relative;
}

hr {
    opacity: 0.3;
}

.linha-azul {
    position: absolute;
    color: var(--cor-azul-claro);
    opacity: 1.0;
    width: 43px;
    top: 0;
    margin-left: 24px;
}

.banner {
    background-image: url(assets/banner/banner-diablo.jpg);
    display: flex;
    flex-direction: column;
    padding-left: 1.375rem;
    padding-top: 3.188rem;
    /* width: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 36%;
    height: 100%;
}

.banner-conteudo {
    
}

.banner-conteudo__titulo, .banner-conteudo__descricao {
    width: 80%;
    max-width: 270px;
}

.banner-conteudo__titulo {
    font-size: 40px;
    line-height: 1.1;
    padding-top: 80px;
}

.banner-conteudo__descricao {
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.banner-conteudo__ancora {
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 46px;
    padding: 13px 0px;
    background-color: var(--cor-azul-claro);
    border-radius: 4px;
}

.banner-conteudo__ancora:hover, .nav-bar__ancoras__logar:hover{
    background-color: var(--cor-azul-hover);
    transition: 0.5s;
}

.banner-slider {
    margin: 48px 0 62px 0;
    display: flex;
    gap: 16px;
}

.banner-slider img {
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.header__divisao {
    position: relative;
}

.linha-final-header {
    height: 2px;
    background-color: var(--cor-azul-claro);
    width: 186px;
    opacity: 1.0;
    border: 1px solid var(--cor-azul-claro);
    position: absolute;
    left: -26px;
    right: 0;
    bottom: 0;
}

.conteudo-principal {
    background-color: var(--cor-preta);
    padding: 0 24px;
    padding-bottom: 69px;
    /* height: 1610px; APAGAR QUANDO TERMINAR O CONTEUDO PRINCIPAL */
}

.conteudo-principal__jogos-exclusivos {
    padding-top: 52px;
    display: flex;
    justify-content: space-between;
}

.conteudo-principal__jogos-exclusivos__titulo {
    line-height: 1.1;
}

.conteudo-principal__jogos-exclusivos__todos-jogos {
    color: var(--cor-azul-claro);
    text-decoration: none;
    align-self: flex-end;
    display: flex;
    gap: 12px;
    font-weight: 600;
}

.destaque-jogos {
    margin-top: 57px;
    /* display: flex;
    flex-wrap: wrap; */
    /* gap: 14px;
    justify-content: center; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.card-game {
    /* width: 9.75rem;
    height: 13.313rem; */
    position: relative;
    margin: 4% 0;
    cursor: pointer;
    justify-self: center;
    width: auto;
    height: auto;
    max-width: 230px;
}

.card-game__capa-game {
    width: 100%;
    /* height: 100%; */
}

.card-game__logo-game, .card-blizzard-logo, .card-ver-jogos__ancora {
    position: absolute;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.card-game__logo-game{
    top: 80%;
    left: 50%;
    height: 30%;
}

.card-ver-jogos {
    position: relative;
    border: none;
    padding-bottom: 52px;
    width: 100%;
    height: auto;
}
  
.card-ver-jogos::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid var(--cor-cinza-texto);
    opacity: 0.2;
    pointer-events: none;
}

.card-blizzard-logo {
    top: 40%;
    left: 50%;
}

.card-ver-jogos__ancora {
    top: 60%;
    left: 50%;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    white-space: nowrap;
}

.rodape {
    /* margin-top: 62px; */
    background-image: url(assets/footer/footer-background.png);
    background-size: cover;
    background-position: 18%;
    /* background-position: center; */
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    height: 1000px;
    padding: 63px 24px;
    position: relative;
}

.rodape__titulo {
    font-weight: 700;
    width: 50%;
    padding: 30px 0;
}

.rodape__sobre-battlenet {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.rodape__sobre-battlenet__linha {
    list-style-type: none;
    color: var(--cor-cinza-texto);
}

.rodape__sobre-battlenet__linha-icon {
    padding-right: 16px;
}

.rodape__ancora-download {
    margin: 40px 0;
    font-weight: 600;
    width: 260px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: var(--cor-azul-claro);
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.rodape__ancora-download__celular{
    display: flex;
    gap: 20px;
    text-decoration: none;
}

.rodape__ancora-download__celular span{
    width: 68%;
} 

.rodape__ancora-download__celular span span{
    text-decoration: underline;
} 

.rodape__battle-net-plataform {
    background-image: url(assets/footer/battlenet-plataform.png);
    background-position: 70vw 0; /* A imagem começa a 70% da largura da viewport */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.rodape__battle-net-plataform__image {
    position: absolute;
    right: 0;
}

.nav-bar__ancoras {
    display: none;
}

.banner-conteudo__trailer-jogo-logo {
    display: none;
}

.conteudo-principal__plataformas {
    display: none;
}

.card-game h5, .card-game p {
    display: none;
}

.svg-ver-jogos-branco {
    display: none;
}

@media (min-width: 768px){

    .logo-blizzard {
        align-self: center;
        width: 86px;
        height: 40px;
    }

    .nav-bar__ancoras-e-menu-hamburguer {
        display: flex;
        align-items: center;
    }

    .nav-bar__ancoras {
        display: flex;
        padding-right: 70px;
    }

    .nav-bar__ancoras a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        margin: 0 8px;
    }

    .nav-bar__ancoras__criar-conta {
        padding: 10px 18px;
        border: 1px solid var(--cor-branco);
        border-radius: 4px;
    }

    .nav-bar__ancoras__criar-conta:hover {
        background-color: var(--cor-branco);
        color: var(--cor-preta);
        transition: 1s;
    }

    .nav-bar__ancoras__logar {
        padding: 10px 20px;
        background-color: var(--cor-azul-claro);
        border-radius: 4px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .nav-bar__ancoras__logar span {
        display: inline-block;
        width: 14px;
        height: 17px;
        background-image: url(assets/banner/icon-login.png);
        background-size: center;
        background-repeat: no-repeat;
    }
    
    .banner {
        background-position: 35%;
        padding-left: 58px;
    }

    .nav-bar {
        padding: 1.5rem 58px;
    }

    .linha-azul {
        margin-left: 59px;
    }
    .banner-conteudo {
        display: flex;
        flex-direction: row;
    }

    .banner-conteudo__titulo, .banner-conteudo__descricao {
        width: 80%;
        min-width: 600px;
        max-width: 630px;
    }

    .banner-conteudo__titulo {
        font-weight: 700;
        font-size: 60px;
        line-height: 1.1;
        padding-top: 120px;
    }
    
    .banner-conteudo__descricao {
        font-weight: 400;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .banner-conteudo__trailer-jogo-logo {
        display: block;
        position: relative;
        width: 80%;
    }

    .banner-conteudo__jogo-logo{
        position: absolute;
        top: 50px;
        right: 40px;
    }

    .banner-conteudo__trailer-jogo{
        position: absolute;
        top: 394px;
        right: 58px;
        border-radius: 4px;
    }

    .banner-conteudo__ancora {
        padding: 13px 26px;
    }

    .banner-slider {
        margin: 60px 0 100px 0;
    }
    
    .linha-final-header {
        left: -60px;
        width: 300px;
    }

    .banner-slider {
        gap: 20px;
    }
    
    .conteudo-principal__jogos-exclusivos {
        padding: 52px 3% 0 3%;
    }

    .conteudo-principal__plataformas {
        display: flex;
        align-items: flex-end;
        gap: 24px;
    }

    .destaque-jogos {
        /* display: flex;
        flex-wrap: wrap; */
        /* gap: 14px;
        justify-content: center; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 20px;
    }

    .card-game h5, .card-game p {
        display: block;
    }

    .card-game h5 {
        font-weight: 600;
        font-size: 16px;
    }

    .card-game p {
        color: var(--cor-cinza-texto);
        font-weight: 400;
    }

    .card-game__logo-game {
        top: 68%;
        height: auto;
    }

    .card-ver-jogos {
        height: 80%;
    }

    .svg-ver-jogos-branco {
        display: inline-block;
        padding-right: 10px;
    }
}
